<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ООО "СОФТ АЛЬФА"</title>
    <link href="{% static 'images\1.ico' %}" rel="shortcut icon">
</head>
<body link="ff0000" vlink="ff0000" text="808080">
    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td><img src="{% static 'images\1c.jpeg' %}" width="200" height="100"></td>
            <td><img src="{% static 'images\sa.jpg' %}" width="330" height="150"></td>
            <td align="center"><a href="about"><h2>О компании</h2></a></td>
            <td><h2>Эл.адресс</h2><h3>mail@soft-alpha.ru</h3></td>
            <td><a href="contact"><h2>Телефон</h2></a><h3>+7(938)401-91-49</h3></td>
            <td><h2>Поиск</h2></td>
        </tr>
        <tr bgcolor="033cc">
            <td width="100px"><a href="server"><h2>Размещение на сервере</h2></a></td>
            <td width="100px" align="right"><a href="product"><h2>Програмные продукты</h2></a></td>
            <td align="center"><a href="uslugi"><h2>Услуги</h2></a></td>
            <td><a href="service"><h2>Сервисы 1С</h2></a></td>
            <td colspan="2"><a href="its"><h2>1C ИТС</h2></a></td>
        </tr>
        <tr>
            <td colspan="6"><hr><h3>Главная > 1C ИТС > Базовый >...</h3><hr /></td>
        </tr>
        <tr align="center" height="500px">
            <td colspan="6" width="2000px">
                <table cellpadding="80" cellspacing="80" border="0">
                    <tr height="100px">
                        <td width="30%" align="center"><h2>Описание</h2></td>
                    </tr>
                    <tr>
                        <td width="30%" align="center"><h2>Стоимость</h2></td>
                    </tr>
                    <tr>
                        <td bgcolor="66ff00" align="center"><h2>Подключить</h2></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="left" bgcolor="033cc">
            <td><img src="{% static 'images\sa1.png' %}" width="130" height="100"></td>
            <td><a href="server"><h4>Размещение на сервере</h4></a><a href="uslugi.html"><h4>Услуги</h4></a></td>
            <td><a href="product"><h4>Програмные продукты</h4></a><a href="service"><h4>Сервисы 1С</h4></a></td>
            <td colspan="3"><h4>Телефон: +7(938)401-91-49</h4><h4>mail@soft-alpha.ru</h4></td>
        </tr>
    </table>
</body>
</html>