<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ООО "СОФТ АЛЬФА"</title>
    <link href="{% static 'images\1.ico' %}" rel="shortcut icon">
    <script src="{% static 'js\Scr.js' %}"></script>
    <script src="C:\Users\shikari\Desktop\DjangoWebProject2\DjangoWebProject2\static\js\Script.js"></script>
    <link rel="stylesheet" href="{% static 'css\style.css' %}" type="text/css">
</head>
<body>
    <form>
        <h2>Пример создание аккаунта пользователя с помощью всплывающего окна:</h2>
        Имя:<br>
        <input type="text">
        <br>
        Фамилия:<br>
        <input type="text">
        <br><br>
        <input type="submit" value="Вход">
    </form>
   
</body>
</html>